body{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100vw;
   height: 100vh;
}
.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 30%;
    flex-wrap: wrap;
    gap: 10px;
}
.item{
    color:white;
    width: 95px;
    height: 75px;
    border-radius: 20%;
    display: flex;
    justify-content:center ;
    align-items:center ;
    font-size: 30px;
}
.item-1{
    background-color:blue;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    border-radius:0%;
}
.item-2{
    background-color:red;
    position: absolute;
    top: 75px;
    left: 0;
}
.item-3{
    background-color:green;
    position: absolute;
    top: 75px;
    right:0;
}
.item-4{
    background-color:yellow ;
    position: absolute;
    bottom: 75px;
    left:0;
}
.item-5{
    background-color:gray ;
    position: absolute;
    bottom: 75px;
    right:0;
}
.item-6{
    background-color: hotpink ;
}
.item-7{
    background-color: orange;
}
.item-8{
    background-color:darkred ;
}
.item-9{
    background-color:black;
}
.item-10{
    background-color:violet ;
}
.item-11{
    background-color:darkgreen ;
}
.item-12{
    background-color: darkcyan;
    position: fixed;
    border-radius: 0%;
    width: 100%;
    bottom: 0;
    left: 0;
}